<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vaccine Brands</ion-title>
    <ion-item slot="end" color="primary">
      <ion-icon
        routerLink="/members/vaccineBrands/add"
        name="add"
        slot="end"
        color="light"
      ></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="data && data.length === 0">
    <ion-card-header>
      <ion-card-title>No vaccine brands found!</ion-card-title>
    </ion-card-header>
    <ion-card-content> Server returned an empty response. </ion-card-content>
  </ion-card>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>vaccine</th>
          <th>brand</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.VaccineName }}</td>
          <td>{{ item.BrandName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
