<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Vaccines</ion-title>
    <ion-item slot="end" color="primary">
      <ion-icon routerLink="/vaccine/Add" name="add" slot="end" color="light"></ion-icon>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>

    <ion-list-header>
      Active Vaccines
    </ion-list-header>
    <ion-item-sliding *ngFor="let v of vaccines">

      <ion-item routerLink="/vaccine/{{v.ID}}/detail">
        <ion-icon name="color-filter" slot="start"></ion-icon>
        <ion-label>
          {{v.Name}}
        </ion-label>
        <ion-note slot="end">
          {{v.MinAge | number2Week}}
        </ion-note>

      </ion-item>
      <ion-item-options side="end">

        <ion-item-option (click)="edit(item)">
          <ion-icon name="create" size="large"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="delete(item)">
          <ion-icon name="trash" size="large"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-card *ngFor="let vaccine of vaccines">

    <ion-item>
      <ion-icon name="color-filter" slot="start" style="margin-right:16px"></ion-icon>
      <ion-label>{{vaccine.Name}}</ion-label>
      <ion-item slot="end">
        <ion-icon routerLink="/vaccine/{{vaccine.ID}}/edit" color="primary" name="create"></ion-icon>
        <ion-icon (click)="Deletevaccine()" color="primary" name="trash"></ion-icon>
      </ion-item>
    </ion-item>

    <ion-card-content>
      <p>Minimum Age Limit: {{vaccine.MinAge | number2Week}}</p>
      <p *ngIf="vaccine.MaxAge">Maximum Age Limit: {{vaccine.MaxAge | number2Week}}</p>
      <ion-button routerLink="/vaccine/{{vaccine.ID}}/dose">Doses</ion-button>
      <ion-button routerLink="/vaccine/{{vaccine.ID}}/brand">Brands</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>