<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Vaccine Dosses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let d of dosses">
    <ion-item>
      <ion-label>{{d.Name}}</ion-label>
      <!-- <ion-icon name="create" slot="end"></ion-icon> -->
      <ion-button fill="none" slot="end">
        <ion-icon name="create" color="primary"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      <!-- <ion-card-subtitle>Details:</ion-card-subtitle> -->
      <p>Minimum Age Limit: {{d.MinAge | number2Week}}</p>
      <p *ngIf="d.MaxAge">Maximum Age Limit: {{d.MaxAge | number2Week}}</p>
      <p *ngIf="d.MaxGap">Max Gap: {{d.MaxGap | number2Week}}</p>
      <p>Dose Order: {{d.DoseOrder}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>