<ion-content>

  <ion-card *ngFor="let doc of doctors">

    <ion-item>
      <ion-label><b>{{doc.DisplayName}}</b></ion-label>
      <ion-datetime 
        slot="end" 
        min="2015"
        max="2030"
        size="small" 
        display-format="MMM YYYY" 
        picker-format="DD MMM YYYY" 
        value="{{doc.ValidUpto}}" 
        class="success"
        [ngClass]="{fail: doc.ValidUpto < today}"
        (ionChange)="updateValidity($event, doc.ID)"
      ></ion-datetime>
    </ion-item>
    <ion-card-content>
      <p>Email: {{ doc.Email}}</p>
      <p>Number: {{doc.MobileNumber}}</p>
      <p>PMDC No: {{doc.PMDC}}</p>
    </ion-card-content>

  </ion-card>
</ion-content>