

<ion-content>
  <!-- <img class="background-image" src="../../assets/login.jpg" />  -->

  <form [formGroup]="fg">
    <ion-item>
        <ion-label color="primary" position="floating">
            <ion-icon name="mail" item-start></ion-icon>
            User Name
          </ion-label>
      <ion-input formControlName="MobileNumber"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label color="primary" position="floating">
            <ion-icon name="lock" item-start></ion-icon>
            Password
          </ion-label>
      <ion-input type="password" formControlName="Password"></ion-input>
    </ion-item>
  </form>

    <div text-center margin-top>
      <!-- <ion-button margin-right (click)="signUp()">
        SIGN UP
      </ion-button> -->
  
      <ion-button color="secondary" (click)="login()">
        SIGN IN
      </ion-button>
    </div>


</ion-content>