<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Doctors</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="approved">
            <ion-icon name="checkbox-outline"></ion-icon>
            <ion-label>Approved</ion-label>
            <ion-badge *ngIf="approvedCount">{{approvedCount}}</ion-badge>
          </ion-tab-button>
    
          <ion-tab-button tab="unapproved">
           <ion-icon name="close-circle-outline"></ion-icon>
           <ion-label>Not Approved</ion-label>
           <ion-badge *ngIf="unapprovedCount">{{unapprovedCount}}</ion-badge>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    
</ion-content>
