<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Vaccine Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>{{vaccine.Name}}</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon color="primary" name="create" slot="end"></ion-icon>
            <ion-icon color="primary" name="trash" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-content>
      <!-- <ion-card-subtitle>Details:</ion-card-subtitle> -->
      <p>Minimum Age Limit: {{vaccine.MinAge | number2Week}}</p>
      <p *ngIf="vaccine.MaxAge">Maximum Age Limit: {{vaccine.MaxAge | number2Week}}</p>
      <ion-button routerLink="/vaccine/{{vaccine.ID}}/dose">Doses</ion-button>
      <ion-button routerLink="/vaccine/{{vaccine.ID}}/brand">Brands</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>