<ion-header>
  <ion-toolbar>
    <ion-title>Vaccine Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{vaccine.Name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- <ion-card-subtitle>Details:</ion-card-subtitle> -->
      <ul>
        <li>Minimum Age Limit: {{vaccine.MinAge | number2Week}}</li>
        <li *ngIf="vaccine.MaxAge">Maximum Age Limit: {{vaccine.MaxAge | number2Week}}</li>
      </ul>
      <ion-button routerLink="/vaccine/{{vaccine.ID}}/dose">Doses</ion-button>
      <ion-button routerLink="/vaccine/{{vaccine.ID}}/brand">Brands</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
 