<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Vaccine Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="fg">

    <ion-item>
      <ion-label color="primary" position="floating">Name</ion-label>
      <ion-input type="text" formControlName="Name"></ion-input>
    </ion-item>

    <div class="icon-picker-section">
      <ion-label color="primary" class="icon-picker-label">Icon</ion-label>
      <div class="icon-grid">
        <div
          class="icon-option"
          *ngFor="let icon of icons"
          [class.icon-selected]="selectedIcon === icon"
          (click)="selectIcon(icon)">
          <ion-icon [name]="icon"></ion-icon>
          <ion-icon *ngIf="selectedIcon === icon" name="checkmark-circle" class="icon-check"></ion-icon>
        </div>
      </div>
    </div>

    <div class="section-block">
      <ion-label color="primary" class="section-block-label">Protects Against</ion-label>
      <quill-editor formControlName="ProtectsAgainstHtml" [modules]="quillModules"></quill-editor>
    </div>

    <div class="section-block">
      <ion-label color="primary" class="section-block-label">Who Should Get It</ion-label>
      <quill-editor formControlName="WhoShouldGetItHtml" [modules]="quillModules"></quill-editor>
    </div>

    <div class="section-block">
      <ion-label color="primary" class="section-block-label">Schedule</ion-label>
      <quill-editor formControlName="ScheduleHtml" [modules]="quillModules"></quill-editor>
    </div>

    <div class="section-block">
      <ion-label color="primary" class="section-block-label">Brands Available</ion-label>
      <quill-editor formControlName="BrandsAvailableHtml" [modules]="quillModules"></quill-editor>
    </div>

    <div class="section-block">
      <ion-label color="primary" class="section-block-label">Why Vaccinate</ion-label>
      <quill-editor formControlName="WhyVaccinateHtml" [modules]="quillModules"></quill-editor>
    </div>

    <div class="section-block">
      <ion-label color="primary" class="section-block-label">Important Note</ion-label>
      <quill-editor formControlName="ImportantNoteHtml" [modules]="quillModules"></quill-editor>
    </div>

    <ion-button expand="block" (click)="editVaccineInfo()" [disabled]="!fg.valid">Submit</ion-button>
  </form>
</ion-content>
