<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Doctor Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-datetime [(placeholder)]="doctor.ValidUpto" display-format="DD/MM/YYYY"  min="2010" max="2019-08-23" [(ngModel)]="doctor.ValidUpto"></ion-datetime>
  <ion-list no-lines>
    <ion-item>
      <ion-label fixed>FirstName:
        <br>
        <p>{{doctor.FirstName}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>LastName:
        <br>
        <p>{{doctor.LastName}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email:
        <br>
        <p>{{doctor.Email}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>Mobile Number:
        <p>{{doctor.MobileNumber}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>Phone No:
        <p>{{doctor.PhoneNo}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>PMDC No:
        <p>{{doctor.PMDC}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>Valid Up To:
        <ion-datetime [(ngModel)]="doctor.ValidUpto"></ion-datetime>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Allow Invoice</ion-label>
      <ion-checkbox [(ngModel)]="doctor.AllowInvoice"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Allow Follow up</ion-label>
      <ion-checkbox [(ngModel)]="doctor.AllowFollowUp"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Allow Chart</ion-label>
      <ion-checkbox [(ngModel)]="doctor.AllowChart"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Allow inventory</ion-label>
      <ion-checkbox [(ngModel)]="doctor.AllowInventory"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>SMS Limit
        <br>
        <p>{{doctor.SMSLimit}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click)="update()">Update Permission</ion-button>
    </ion-item>

  </ion-list>
</ion-content>