<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Doctor Permission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-label color="dark" text-center>
        {{doctor.DisplayName}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Allow Invoice</ion-label>
      <ion-checkbox [(ngModel)]="doctor.AllowInvoice"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Allow Follow up</ion-label>
      <ion-checkbox [(ngModel)]="doctor.AllowFollowUp"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Allow Chart</ion-label>
      <ion-checkbox [(ngModel)]="doctor.AllowChart"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Allow inventory</ion-label>
      <ion-checkbox [(ngModel)]="doctor.AllowInventory"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>SMS Limit
        <br>
        <p>{{doctor.SMSLimit}}</p>
      </ion-label>
    </ion-item>
    
      <ion-button expand="block"  (click)="update()">Update Permission</ion-button>
    
  </ion-list>
</ion-content>